<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="turtlebot_name" default="TestTurtlebot"/><!--$(env TURTLEBOT_NAME)-->
  <rosparam file="$(find dec_pomdp_server)/config/simulation.yaml" />
  <rosparam file="$(find dec_pomdp_client)/config/client_config.yaml" />
  <rosparam param="robot_name" subst_value="True">$(arg turtlebot_name)</rosparam>

  <remap from="/tf" to="tf"/>
  <remap from="/tf_static" to="tf_static"/>
  <node name="$(arg turtlebot_name)_heartbeat" pkg="dec_pomdp_client" type="heartbeat_publisher.py"></node>
  <node name="$(arg turtlebot_name)_measurement" pkg="dec_pomdp_client" type="signal_strength_server.py" output="screen"></node>
  <!--This part starts up the policy execution node -->
  <node name="$(arg turtlebot_name)_policy_execution" pkg="dec_pomdp_client" type="policy_listener.py" output="screen"></node>
  <!--This part starts the policy visualization-->
  <node name="$(arg turtlebot_name)_policy_visualization" pkg="dec_pomdp_client" type="policy_visualizer.py"></node>
  <node name="$(arg turtlebot_name)_random_movement" pkg="dec_pomdp_client" type="random_movement_executor.py" output="screen"></node>
<!--Only relevant for simulation -->
  <arg name="map" value="$(find tams_turtlebot_navigation)/maps/tams_localization.yaml" />
  <arg name="map_navigation" value="$(find tams_turtlebot_navigation)/maps/tams_navigation.yaml" />
  <node name="map_localization" pkg="map_server" type="map_server" args="$(arg map)" />
  <node name="map_navigation" pkg="map_server" type="map_server" args="$(arg map_navigation)" >
    <remap from="map" to="map_navigation"/>
  </node>

  <param name="robot_description" command="$(find xacro)/xacro '$(find turtlebot_description)/robots/kobuki_hexagons_kinect.urdf.xacro'"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="10.0"/>
  </node>

  <node name="move_base_simulation" pkg="move_base_stub" type="move_base_stub.py"/>

</launch>
